<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <!--<thead>
    <tr>
      <th> Full name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><i class="fa-solid fa-mug-hot"></i></td>
        <td><%= order.product_name%></td>
        <td><%= order.product_count %></td>
        <td><%= link_to 'Show', order, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>
<%= link_to 'All Customers', customers_path, class: "btn btn-success" %>